<header >
<div class="container">
  <div class="d-flex justify-content-between">
    <div class="logo">
      <img [ngSrc]="'projectLogo'|translate" width="30" height="30">
    </div>

    <div class="navbar-menu">
      @if(isUserAuthorized()){
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon> account_circle </mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onLogOut()">
          <mat-icon>logout</mat-icon>
          <span>{{ "logout.label" | translate }}</span>
        </button>
      </mat-menu>
      }
      <language-switcher></language-switcher>
    </div>
  </div>
</div>
</header>
