.icon-size-1 {
  width: 1rem;
  height: 1rem;
}

.icon-size-2 {
  width: 1.3rem;
  height: 1.3rem;
}

.icon-size-3 {
  width: 1.5rem;
  height: 1.5rem;
}


.icon-size-4 {
  width: 1.8rem;
  height: 1.8rem;
}


.icon-size-5 {
  width: 2rem;
  height: 2rem;
}


.icon-size-6 {
  width: 2.3rem;
  height: 2.3rem;
}

.icon-size-7 {
  width: 2.5rem;
  height: 2.5rem;
}

.icon-size-8 {
  width: 3rem;
  height: 3rem;
}